@model LunaEpi.Models.ViewModels.TeaserBlockViewModel
<section class="area">
    <div class="media span8">
        <div style="clear:both;">
            <div class="col-md-1">
                @Html.PropertyFor(m => m.CurrentBlock.TeaserImage)
            </div>
            <div class="col-md-7">
                <h2 @Html.EditAttributes(m => m.CurrentBlock.TeaserHeading)>
                    @Model.CurrentBlock.TeaserHeading
                </h2>
                <p>@Html.PropertyFor(m => m.CurrentBlock.TeaserText)</p>
            </div>
        </div>
    </div>
    </section>